@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.main-content {
  flex: 1;
  margin-left: 250px; /* Adjust to match the menu width */
  padding: 2rem;
}

.container {
  max-width: 900px;
  margin: auto;
}

.card {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 2rem;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.table {
  margin-bottom: 2rem;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.form-check {
  margin-bottom: 0.5rem;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #0056b3;
}


