<app-menu-retail></app-menu-retail>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <div class="ms-auto text-end">
        <nav aria-label="breadcrumb" style="margin-right: 990px">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/module-retail">Notation Client</a></li>
            <li class="breadcrumb-item active" aria-current="page">Consulter Notation Client</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container mt-4" style="margin-left: 230px;font-size: 16px; font-family: serif;">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID Notation</th>
            <th>ID Client</th>
            <th>Nom Client</th>
            <th>Note</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notation of notationsFinalisees">
            <td>{{ notation.id }}</td>
            <td>{{ notation.clientId }}</td>
            <td>{{ notation.nom }}</td> 
            <td>{{ notation.note }}</td>
           <!--  <td style="text-align: center; vertical-align: middle;">
              <button class="btn btn-outline btn-sm" (click)="getNotationById(notation.id)">
                <img style="height: 23px; width: 23px;" src="../assets/images/see.png" alt="update" title="Plus d'infos">
              </button>
            </td> -->
            <td style="text-align: center; vertical-align: middle;">
              <button class="btn btn-outline btn-sm"  [routerLink]="['/admin/Retail/Notation/NotationClient', notation.clientId]">
                <img style="height: 23px; width: 23px;" src="../assets/images/see.png" alt="update" title="Plus d'infos">
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Section pour les réponses (cachée par défaut) -->
      <!-- <div *ngFor="let notation of notationsFinalisees">
        <h3>Détails de la notation #{{ notation.id }}</h3>
        <h4>Réponses:</h4>
        <ul class="responses-list">
          <li *ngFor="let response of notation.responses">
            <strong>{{ response.description }}:</strong> {{ response.response }}
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</div>

<div style="margin-bottom: 320px;"></div>
<div class="page-wrapper">
  <app-footer></app-footer>
</div>
