<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Importer un fichier CSV - Interface</title>
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- FontAwesome for icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  
  <!-- Styles personnalisés -->
 
</head>
<body>
  <app-menu-retail></app-menu-retail>
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Axely Modules</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Module Retail</a></li>
              <li class="breadcrumb-item active" aria-current="page">Importer relation client</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="user-management">
    <h5 class="card-title">Glisser un fichier CSV ici</h5>

    <div class="file-upload-container">
      <i class="fas fa-cloud-upload-alt upload-icon"></i>
      <div class="file-upload-text">Cliquez ou glissez un fichier ici pour l'importer</div>
      <input type="file" (change)="onFileSelected($event)" accept=".csv" id="fileInput">
    </div>

    <button class="btn btn-primary" (click)="uploadFile()">Importer</button>
  </div>

  <div style="margin-bottom: 290px;"></div>
  <div class="page-wrapper">
    <app-footer></app-footer>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
