<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    body {
      overflow-y: hidden;
    }
    .pagination-buttons {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    .pagination-buttons button {
      margin: 0 5px;
    }
  </style>
</head>
<body>
  <app-menu-retail></app-menu-retail>
  <div class="page-breadcrumb" style="margin-right: 990px;">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Axely Modules</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/admin/module-retail">Module Retail</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Détails des relations client

              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="row justify-content-center" style="font-size: 16px; font-family: serif; margin-left: 230px;">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Détails du client</h4>
          <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
              <tbody>
                <tr *ngFor="let field of displayedFields">
                  <th>{{ field.label }}:</th>
                  <td>{{ getFieldValue(client, field.key) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination-buttons">
            <button (click)="previousPage()" [disabled]="currentPage === 0" class="btn btn-primary">
              Précédent
            </button>
            
            <button (click)="nextPage()" [disabled]="currentPage >= getMaxPage()" class="btn btn-primary">
              Suivant
            </button>
            
          </div> <!-- Fermeture de la div des boutons de pagination -->
        </div> <!-- Fermeture de la card-body -->
      </div> <!-- Fermeture de la card -->
    </div> <!-- Fermeture de la colonne -->
  </div> <!-- Fermeture de la ligne -->
  <br>
  <div style="margin-bottom: 250px;"></div>
  <div class="page-wrapper">
    <app-footer></app-footer>
</div>
</body>
</html>
