<br><br><br>
<div class="container">
  <div class="form-wrap">
    <form id="survey-form">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label id="name-label" for="username">Nom</label>
            <input type="text" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" id="username" placeholder="Enter your name" class="form-control" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label id="name-label" for="fullname">Prénom</label>
            <input type="text" [(ngModel)]="user.fullname" [ngModelOptions]="{standalone: true}" id="fullname" placeholder="Enter your name" class="form-control" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label id="email-label" for="email">Email</label>
            <input type="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" id="email" placeholder="Enter your email" class="form-control" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label id="name-label" for="phone">Téléphone</label>
            <input type="text" [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}" id="phone" placeholder="Enter your phone number" class="form-control" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <button type="submit" (click)="updateUser()" class="btn btn-primary" style="background-color:#00881D;border-color: #00881D;">
            Valider
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br><br><br>
<br><br><br>
<br><br><br><br><br><br>
