<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Matrix Admin Lite Free Versions Template by WrapPixel</title>
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png" />
  <style>
       body {
        overflow-y: hidden;
      }

      .table-striped tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
      }

      .table-striped tbody tr:nth-child(even) {
        background-color: #ffffff;
      }

      .table-bordered th,
      .table-bordered td {
        border: 1px solid #ddd;
      }
  </style>
</head>

<body>
  <app-menu></app-menu>
  <br />
  <div>
    <div style="font-size: 16px; font-family: serif">
      <div class="card-body">
        <div class="table-responsive">
          <div class="input-wrap">
            <div class="input fl-wrap">
              <div class="input-item">
                <input
                  type="text"
                  value=""
                  [(ngModel)]="searchtext"
                  [ngModelOptions]="{standalone: true}"
                  placeholder="Rechercher ..."
                />
              </div>
            </div>
          </div>
          <br />
          <div class="table-responsive">
            <table
              id="zero_config"
              class="table table-striped table-bordered"
            >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Code Role</th>
                  <th>Code Menu</th>
                  <th>Libellé Menu</th>
                  <th>Code Module</th>
                  <th>Libellé Module</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let p of privileges | paginate: { itemsPerPage: itemsPerPage, currentPage: p } | filter: searchtext">
                <tr>
                  <td>{{ p?.id }}</td>
                  <td>{{ p?.role.cdRole }}</td>
                  <td>{{ p?.menuId }}</td>
                  <td>{{ p?.menu.lbMenu }}</td>
                  <td>{{ p?.menu.module.cdModul }}</td>
                  <td>{{ p?.menu.module.lbModul }}</td>
                  <td>
                    <button class="button delete-button" (click)="deletePrivilege(p?.id)">
                      <img src="../assets/images/delete.png" alt="Delete" />
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 290px;"></div>
  <div class="page-wrapper">
    <app-footer></app-footer>
  </div>
</body>
</html>